@charset "UTF-8";


/*
    Paleta de Cores
    azul1: #52A5D9
    azul2: #234459
    azul3: #A7D5F2
    azul4: #D5E7F2
    marrom: #8A8C3B
*/

* {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background: url("../imagens/img-back.jpg") no-repeat center 30%;
    background-size: cover;
    backdrop-filter: blur(3px);
}

main {
    position: relative;
    width: 100vw;
    height: 100vh;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 530px;
    background: url("../imagens/img-back.jpg") no-repeat center top 158px;
    background-size: cover;
    border-radius: 20px;
    border: 2px solid #D5E7F2;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);

    transition: width 0.3s, heigth 0.3s ease;
}

section #imagem {
    display: block;
    background: url("../imagens/pc.jpg") no-repeat center 59%;
    background-size: cover;
    height: 215px;
}

section #formulario {
    display: block;
    padding: 10px;
    color: black;
}

section #formulario h1 {
    text-align: center;
    padding-bottom: 10px;
}

section #formulario p {
    font-size: 0.8em;
}

form .container {
    border: 1px solid #D5E7F2;
    border-radius: 10px;
    margin-top: 20px;
    text-align: center;
}

.container input[type=submit] {
    font-size: 1em;
    width: 90%;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 5px;
    background-color: #52A5D9;
    border-radius: 10px;
    backdrop-filter: blur(2px);
    border: 1px solid #234459;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container input[type=submit]:hover {
    font-weight: normal;
    background-color: transparent;
    color: #234459;
    cursor: pointer;
}

.container a {
    display: block;
    font-size: 1em;
    width: 90%;
    height: 40px;
    margin: auto;
    margin-bottom: 10px;
    background-color: transparent;
    border-radius: 10px;
    backdrop-filter: blur(2px);
    border: 1px solid #234459;
    color: #234459;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container a:hover {
    background-color: #52A5D9;
    cursor: pointer;
    color: white;
}


form input[type=email] {
    padding: 5px;
    border-radius: 7px;
}

form input[type=password] {
    padding: 5px;
    border-radius: 7px;
}

label {
    display: inline-block;
}